* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    margin: 0;
}

header {
    background-color: cornsilk;
    padding: 24px;
}

h1 {
    color: crimson;
    font-size: 4rem;
    margin: 0;
    text-align: center;
}

main {
    background-color: rgb(253, 230, 230);
    flex-grow: 1;
    padding: 24px;
}

main div {
    background-color: firebrick;
    border-radius: 10px;
    color: cornsilk;
    padding: 16px;
}

footer {
    background-color: cornsilk;
    color: firebrick;
    padding: 24px;
    text-align: center;
}